Package: com.w00tylab.launchsound
Name: launchSound
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Playing Tweetbot sound when you launch apps.
Maintainer: moeseth
Author: moeseth
Section: Tweaks
