Package: com.w00tylab.hiddencalllog
Name: hiddenCalllog
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Hide all call logs from Phone.app; Tap "Clear" button to toggle.
Maintainer: moeseth
Author: moeseth
Section: Tweaks
